
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false" *ngIf="isAuthenticated()">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" [routerLink]="['Children']">Life and hope</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right" *ngIf="isAuthenticated()">
                <li  (click)="signOut()">
                    <a href="#" *ngIf="!signingOut"><span class="glyphicon glyphicon-log-out"></span> Sign out</a>
                    <a href="#" *ngIf="signingOut"><span class="glyphicon glyphicon-refresh spinner"></span> Signing out</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <router-outlet class="col-sm-12"></router-outlet>
    </div>
</div>