

<div class="container">
    <div class="row hidden-xs vertical-space-sm"></div>

    <div class="row">
        <div class="col-sm-6 text-center">
            <img id="profile-image" class="img-responsive" src="" alt="Loading image.." style="height: 300px; width:100%;object-fit: cover; display: inline-block">
        </div>

        <div class="col-sm-6 text-center">
            <h2>
                <span *ngIf="child">{{child.first_name}} {{child.last_name}}</span>
                <span *ngIf="!child" class="text-muted glyphicon glyphicon-refresh spinner"></span>
            </h2>
            <hr>

            <info-box [object]="child"
                      [properties]="properties"
                      [editable]="true"
                      (change)="updateChild($event)"></info-box>
        </div>
    </div>

    <div class="row vertical-space-sm">
        <div class="col-xs-12">
            <h3>Images</h3>
            <hr>
            <span *ngIf="!images" class="glyphicon glyphicon-refresh spinner" style="font-size: large; text-align: center; width: 100%;"></span>
            <image-gallery *ngIf="images" [sources]="imageSources" dropZone (dropped)="imagesDropped($event)"></image-gallery>
        </div>
    </div>

    <div class="row vertical-space-sm">
        <div class="col-xs-12">
            <h3>Log</h3>
            <hr>
        </div>
    </div>

    <div class="row vertical-space-sm">
        <div class="col-xs-12">
            <h3>Transaction history</h3>
            <hr>
        </div>
    </div>

</div>
