

<div class="container">
    <div class="row hidden-xs vertical-space-sm"></div>

    <!--<div class="row" *ngIf="images && images.length">-->
        <!--<div class="col-sm-6 col-sm-offset-3 text-center">-->
            <!--<img id="profile-image" class="img-responsive" src="" alt="Child" style="height: 300px; width:100%;object-fit: cover; display: inline-block">-->
        <!--</div>-->
    <!--</div>-->
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3 text-center">
            <h2>
                <span *ngIf="child">{{child.first_name}} {{child.last_name}}</span>
                <span *ngIf="!child" class="text-muted glyphicon glyphicon-refresh spinner"></span>
            </h2>
            <hr>

            <info-box [object]="child"
                      [properties]="properties"
                      [editable]="true"
                      (change)="updateChild($event)"></info-box>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-6 col-sm-offset-3 text-center">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6 text-left">Fadder</div>
                    <div class="col-sm-6 text-right">
                        <span *ngIf="sponsor">{{sponsor.first_name}} {{sponsor.last_name}}</span>
                        <span *ngIf="!sponsor">Ingen fadder!</span>
                        <row-selection [rows]="sponsors" [columns]="sponsorFields" (selected)="selectParent($event)"></row-selection>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row vertical-space-sm">
        <div class="col-xs-12">
            <h3>Images</h3>
            <hr>
            <span *ngIf="!images" class="glyphicon glyphicon-refresh spinner" style="font-size: large; text-align: center; width: 100%;"></span>
            <image-gallery *ngIf="images" [sources]="imageSources" dropZone (dropped)="imagesDropped($event)"></image-gallery>
        </div>
    </div>

    <div class="row vertical-space-sm">
        <div class="col-xs-12">
            <h3>Logg</h3> <hr>
            <add-button class="col-xs-4" [fields]="noteFields" title="Logg" (save)="addNote($event)"></add-button>
        </div>
    </div>

    <div class="row vertical-space-sm">
        <div class="col-xs-12">
            <h3>Transaction history</h3> <hr>
            <add-button class="col-xs-4" [fields]="transactionFields" title="Transaction" (save)="addTransaction($event)"></add-button>
            <dynamic-table [columns]="transactionProperties" [rows]="transactions"></dynamic-table>
        </div>
    </div>

</div>
