<table class="table table-default table-hover">
    <thead>
        <tr>
            <th *ngFor="#column of columns">{{ column.name }}</th>
            <th *ngIf="editable || removable" class="text-right">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngIf="!rows">
            <td [attr.colspan]="editable || removable ? columns.length+1 : columns.length" class="text-center">
                <span class="spinner glyphicon glyphicon-refresh"></span> Loading data..
            </td>
        </tr>
        <tr *ngFor="#row of rows">
            <td *ngFor="#column of columns">{{row[column.key]}}</td>

            <td *ngIf="editable || removable" class="text-right">
                <!-- Edit button if editable -->
                <button *ngIf="editable" type="button" class="btn btn-default btn-info" (click)="editRow(row)">
                    <span class="glyphicon glyphicon-pencil"></span> Edit
                </button>
                <!-- Remove button if removable -->
                <button *ngIf="removable" type="button" class="btn btn-default btn-danger" (click)="removeRow(row)">
                    <span class="glyphicon glyphicon-trash"></span> Remove
                </button>
            </td>
        </tr>
    </tbody>
</table>