
<link rel="stylesheet" href="Hovedside.css">



<div class="container">

    <div class="row second vertical-space-sm">
        <div class="col-sm-4">
            <button type="button" class="btn btn-primary" id="addChild" (click)="addChild()">
                <span class="glyphicon glyphicon-plus"></span> Add Child
            </button>
        </div>


        <div class="col-sm-4 col-sm-offset-4">
            <div class="input-group">
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-search"></span>
                </span>
                <input type="search" class="form-control" placeholder="search..">
                <div class="input-group-btn">
                    <button class="btn btn-default">
                        <span class="glyphicon glyphicon-filter"></span> Filter
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="row vertical-space-xs">
        <div class="col-sm-12">
            <table class="table table-default table-hover">
                <thead>
                    <tr>
                        <th>First name</th>
                        <th>Last name</th>
                        <th>Gender</th>
                        <th>Year of birth</th>
                        <th>Account number</th>
                        <th>Sponsor</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="#child of children">
                        <td>{{child.first_name}}</td>
                        <td>{{child.last_name}}</td>
                        <td>{{child.sex}}</td>
                        <td>{{child.date_of_birth }}</td>
                        <td>{{child.account_number}}</td>
                        <td>Sponsor</td>
                        <td class="text-right">
                            <button type="button" class="btn btn-default btn-info" [routerLink]="['Child', {id: child.id}]">
                                <span class="glyphicon glyphicon-pencil"></span> Edit
                            </button>
                            <button type="button" class="btn btn-default btn-danger">
                                <span class="glyphicon glyphicon-trash"></span> Remove
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
