
<link rel="stylesheet" href="Hovedside.css">



<div class="container">

    <div class="row second vertical-space-xs">
        <div class="col-xs-4 col-sm-4">
            <button type="button" class="btn btn-primary" id="addChild" (click)="addChild()">
                <span class="glyphicon glyphicon-plus"></span> Add Child
            </button>
        </div>


        <div class="col-xs-8 col-sm-6 col-sm-offset-2 col-md-4 col-md-offset-4">
            <div class="input-group">
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-search"></span>
                </span>
                <input type="search" class="form-control" placeholder="search..">
                <div class="input-group-btn">
                    <button class="btn btn-default">
                        <span class="glyphicon glyphicon-filter"></span> Filter
                    </button>
                </div>
            </div>
        </div>
    </div>

    <div class="row vertical-space-xs">
        <div class="col-sm-12">
            <editable-table (edit)="editChild($event)"
                            (remove)="removeChild($event)"
                            [editable]="true"
                            [removable]="true"
                            [rows]="children"
                            [columns]="columns"></editable-table>
        </div>
    </div>
</div>
