
<link rel="stylesheet" href="Hovedside.css">



<div class="container">

    <div class="row second vertical-space-xs">
        <div class="col-xs-4 col-sm-4">
            <button type="button" class="btn btn-success" id="addChild" (click)="addChild()">
                <span class="glyphicon glyphicon-plus"></span> Add Child
            </button>
        </div>


        <div class="col-xs-8 col-md-5 col-md-offset-3">
            <text-filter [properties]="columns" (filter)="filter = $event"></text-filter>
        </div>
    </div>

    <div class="row vertical-space-xs">
        <div class="col-sm-12">
            <editable-table (edit)="editChild($event)"
                            (remove)="removeChild($event)"
                            [editable]="true"
                            [removable]="true"
                            [rows]="children | filterBy:filter.text:filter.keys"
                            [columns]="columns"></editable-table>
        </div>
    </div>
</div>
