
<div class="container-fluid">

    <div class="row vertical-space-xl">
        <div class="col-sm-4 col-sm-offset-4">
            <form [ngFormModel]="userForm" (ngSubmit)="loginUser()">
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><icon user></icon></span>
                        <input type="email" class="form-control" id="inputEmail" placeholder="email" ngControl="email" required>
                    </div>
                </div>

                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><icon lock></icon></span>
                        <input type="password" class="form-control" id="inputPassword" placeholder="password" ngControl="password" required>
                    </div>
                </div>


                <div class="text-center">
                    <button [disabled]="signingIn" type="submit" class="btn btn-primary col-xs-12">
                        <span [hidden]="signingIn">Sign in</span>
                        <span [hidden]="!signingIn"><span class="spinner glyphicon glyphicon-refresh"></span> Signing in</span>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div class="row vertical-space-sm">
        <div class="col-sm-4 col-sm-offset-4">
            <div class="alert alert-danger" [hidden]="!failedAuthentication">We couldn't find an account with the provided credentials :'(</div>
        </div>
    </div>

</div>


