
<div class="container" *ngIf="initialized">

    <div class="row vertical-space-sm">
        <div class="col-sm-offset-4 col-sm-4 text-center">
            <div class="btn-group">
                <button type="button" class="btn btn-default" [routerLink]="['Children']">Barn</button>
                <button type="button" class="btn btn-default active" [routerLink]="['Sponsors']">Fadder</button>
            </div>
        </div>
    </div>

    <div class="row vertical-space-sm">
        <div class="col-sm-4">
            <add-button [fields]="fields" [title]="'Sponsor'" (save)="addSponsor($event)"></add-button>
        </div>

        <div class="col-sm-5 col-sm-offset-3">
            <filter-generator (filter)="filter = $event" [properties]="properties"></filter-generator>
        </div>
    </div>

    <div class="row vertical-space-xs">
        <div class="col-sm-12">
            <dynamic-table [columns]="properties" [rows]="sponsors  | filterBy: filter.text : filter.keys" (remove)="removeSponsor($event)" (edit)="editSponsor($event)" [editable]="true" [removable]="true"></dynamic-table>
        </div>
    </div>
</div>
