
<div class="container">

    <div class="row vertical-space-sm">
        <div class="col-sm-offset-4 col-sm-4 text-center">
            <div class="btn-group">
                <a [routerLink]="['Children']"><button type="button" class="btn btn-default">Barn</button></a>
                <a [routerLink]="['Sponsors']"><button type="button" class="btn btn-default active">Fadder</button></a>
            </div>
        </div>
    </div>

    <div class="row vertical-space-sm">
        <div class="col-sm-4">
            <add-button [fields]="fields" [title]="'Sponsor'" (save)="addSponsor($event)"></add-button>
        </div>

        <div class="col-sm-5 col-sm-offset-3">
            <filter-generator (filter)="filter = $event" [properties]="properties"></filter-generator>
        </div>
    </div>

    <div class="row vertical-space-xs">
        <div class="col-sm-12">
            <table class="table table-striped table-hover" *ngIf="initialized">
                <thead>
                <tr>
                    <th>Fornavn</th>
                    <th>Etternavn</th>
                    <th>Telefon</th>
                    <th>E-post</th>
                    <th>Medlem siden</th>
                    <th class="text-right">Actions</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="#sponsor of sponsors | filterBy: filter.text : filter.keys">
                    <td>{{sponsor.first_name}}</td>
                    <td>{{sponsor.last_name}}</td>
                    <td>{{sponsor.phone}}</td>
                    <td>{{sponsor.email}}</td>
                    <td>{{sponsor.join_date}}</td>
                    <td class="text-right">
                        <button type="button" class="btn btn-info" [routerLink]="['Sponsor', {id:sponsor.id}]">Edit</button>
                        <button type="button" class="btn btn-danger">Delete</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
