/*button {*/
    /*background-color: #ff9f35;*/
/*}*/

/*button:hover{*/
    /*background-color: #ffedb3;*/
/*}*/

.vertical-space-xs {
    margin-top: 2rem;
}

.vertical-space-sm {
    margin-top: 4rem;
}

.vertical-space-md {
    margin-top: 6rem;
}

.vertical-space-lg {
    margin-top: 12rem;
}

.vertical-space-xl {
    margin-top: 20rem;
}
